@{
    ViewBag.Title = "About";
}



<div class="jumbotron jumbotron-fluid">
    <h1>Know Us and count your fingers  </h1>
    
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Who </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">What  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Where  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Why </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">When </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Whom</a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">WindyWindy</a>









    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>We Thugs</h2>
        <p>
            We do not agree to normal life and want to look outside the box finding solutions that fill our big fat tummy
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://google.com.pk/fwlink/?LinkId=301865">We Ishaqs&raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h2>We Cheets</h2>
        <p>We stand stuborn intellegent and highly dubious with no onee to be compared with.</p>
        <p><a class="btn btn-primary btn-lg" href="https://google.com.pk/fwlink/?LinkId=301866">Shabbirs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We Wizards</h2>
        <p>We are a mix match of very highly qualified intruiges and espinage</p>
        <p><a class="btn btn-primary btn-lg" href="https://go.google.com.pk/fwlink/?LinkId=301867">MixAtch &raquo;</a></p>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-10">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
<address>
    269 - E2 <br />
    Wapda town<br />
    <abbr title="Phone">Phone:</abbr>
    +92-321-610-5939
</address>

<address>
    <strong>Support:</strong>   <a href="driveaxle@gmail.com">sailing106@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:driveaxle@gmail.com">Ahmed</a>
</address>
<address>
    <p>This is my home</p>
</address>
