@{
    ViewBag.Title = ".";
}

<div class="jumbotron ">
    <h1>Contact  Eyezaks </h1>
    <p class="lead">Can contact each directors directly on FB.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">komal </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Ayesha  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Jawad  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Hamza  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Mustafa  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Farheen </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Aiemen </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Z.Tasha </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Zainab  </a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Sofia </a>








    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We ishaqs</h2>
        <p>
            We do not agree to normal life and want to look outside the box finding solutions that do not exsisit
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://google.com.pk/fwlink/?LinkId=301865">We Ishaqs&raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h2>We Shabbirs</h2>
        <p>We stand stuborn intellegent and highly sophisicated with no onee to be compared with.</p>
        <p><a class="btn btn-primary btn-lg" href="https://google.com.pk/fwlink/?LinkId=301866">Shabbirs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EyzakShabirCombo</h2>
        <p>We are a mix match of very highly qualified intruiges and innovations</p>
        <p><a class="btn btn-primary btn-lg" href="https://go.google.com.pk/fwlink/?LinkId=301867">MixAtch &raquo;</a></p>
    </div>


</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div class="container">
    <h2>Button Styles</h2>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    <img src="D:\Bia\BiaEdu\amin.jpg" class="img-rounded" alt="Cinque Terre">
</div>

 8